<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"> 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>servlet1</servlet-name>
      <servlet-class>Companies</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>servlet1</servlet-name>
      <url-pattern>/companies</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>servlet2</servlet-name>
     <servlet-class>Login</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>servlet2</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>

   <servlet>
     <servlet-name>servlet3</servlet-name>
     <servlet-class>Simulate</servlet-class>
   </servlet>
   
   <servlet-mapping>
     <servlet-name>servlet3</servlet-name>
     <url-pattern>/simulate</url-pattern>
   </servlet-mapping>
   
</web-app>
